body {
  background-color: #c2b800;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
}
.done {
  text-decoration: line-through;
}
button {
  border-radius: 5px;
  margin: 5px;
}
ul {
  list-style: none;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 25px;
}
li:hover{
  text-shadow: 2px 2px #ffffff;
}
button:active {
  background-color: #525252;
}
